<h1>New Expense</h1>

<%= form_with(model: @expense, local: true) do |form| %>
    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= form.label :total_amount %>
        <%= form.number_field :total_amount, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= form.label :group_id %>
        <%= form.collection_select :group_id, @groups, :id, :group_name, prompt: "Select a Group", class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= form.label :added_by %>
        <%= form.select :added_by, @users.map { |user| [user.name, user.id] }, { prompt: "Select a User" }, class: 'form-control' %>
    </div>

    <%= form.submit 'Add Expense', class: 'btn btn-success' %>
    <% if @expense.errors.any? %>
        <div class="alert alert-danger">
            <h4>There were some errors with your form:</h4>
            <ul>
                <% @expense.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>

<%= link_to 'Back to Expenses', expenses_path, class: 'btn btn-secondary' %>