<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bill Splitter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png" alt="Bill Splitter Icon">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" alt="Bill Splitter Icon SVG">
    <link rel="apple-touch-icon" href="/icon.png" alt="Bill Splitter App Icon">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
